@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 0 0% 100%;
    --background: 211 45% 10%;
    --primary: 177 87% 44%;
    --radius: 0.5rem;

    --grid-columns: 6;
    --grid-image-width: 68px;
    --grid-button-padding: 2px;
    --grid-button-border-width: 2px;
    --grid-button-width: calc(
      var(--grid-image-width) + var(--grid-button-padding) * 2 +
        var(--grid-button-border-width) * 2
    );
    --grid-width: calc(var(--grid-columns) * var(--grid-button-width));
    --grid-button-overlay-padding: calc(
      var(--grid-button-padding) - var(--grid-button-border-width)
    );

    --randomized-champion-image-width: 256px;
  }

  * {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Montserrat", sans-serif;
  }

  .reel-up {
    animation: reel-up 0.2s forwards ease-out;
  }

  @keyframes reel-up {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(calc(var(--randomized-champion-image-width) * -1));
    }
  }
}
